@media screen and (max-width:750px){
    .container {
        width: 80%; 
        margin: 0 auto; 
        padding: 2% 5%; 
    }

    .comeco .backvideo {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .cabecalho {
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 2%;
        transform: translate(120px, -100px);
        align-items: center;
      
      }
      #Visualcaixa img {
        transform: translate(-10px, -10px);
        
      }
      
    
     
      #Visual-Digitetexto {
        display: flex;
        position: fixed;
       justify-content: center;
       transform: translate( 50px, 60px);
       align-items: center;

      }
      #Visualcaixa {
        display: flex;
        position: fixed;
        justify-content: center;
        transform: translate(80px, 250px);
        align-items: center;
        display: flex;
    flex-direction: column;
    background: black;
    border: 3px solid var(--cor-secundaria);
    border-radius: 28px;
    width: 400px;
    height: 500px;
    margin-right: 3%;



      }

      .btnbuttons {
        display: flex;
       position: fixed;
       transform: translate(-210px, 370px);



      }
      .rodape {
        
      
        transform: translate(-1px, 840px);
        padding: 9.5px;
      }
}
